<div name="groups_list" class="groups_list"></div>
<div name="add_container">
	<a href="" name="show">Добавить группу</a>
	<div name="adding_block" class="hidden">
		<label>
			<div class="l-col">
				Название:
			</div>
			<div class="r-col">
				<input name="title" type="text"/>
			</div>
		</label>
		<input type="button" name="add" value="Добавить"/>
	</div>
</div>